@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --ppal-color: rgb(21, 14, 68)
}

h1 {
  margin: 10dvh auto;
  text-align: center;
  color: var(--ppal-color)
}

main {
  max-width: 800px;
  width: 75%;
  margin: 10px auto;
  padding: 10px;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  width: 65%;
  padding: 10px;
  border: 1px solid var(--ppal-color);
  border-radius: 10px;
}

input:focus {
  outline: none;
}

button {
  width: 15%;
  padding: 1px 3px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--ppal-color);
  background-color: #eee;
  font-size: .7rem;
  transition: box-shadow .5s ease,
    background-color .5s ease;
}

button:hover {
  box-shadow: 1px 3px 10px 0 var(--ppal-color);
  background-color: #fff;
}

h4 {
  margin: 20px auto;
  text-align: center;
}

ol {
  width: 90%;
  padding: 5px;
  margin: 20px auto;
}

li {
  margin: 5px;
  height: 8dvh;
  padding: 5px;
  border-radius: 5px;
  background-color: #eee;
  border-bottom: 2px solid var(--ppal-color);
  list-style-position: outside;
  list-style-type: decimal;
}

li::marker {
  display: inline-block;
  color: var(--ppal-color);
  font-weight: 600;
}

.content-list {
  display: inline-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8rem;
}

li button {
  width: 20%;
  padding: 5px;
  background-color: #fff;
  height: 5dvh;
}

.status {
  background-color: #ddd;
  width: 50%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  font-size: .6rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hidden {
  display: none;
}